body {
  font-family: Verdana, Arial, sans-serif;
  font-size: 14px;
  color: black;
  margin-left: auto;
  margin-right: auto;
}

.header {
  width: 100%;
  border-bottom: 1px solid black;
  display: flex;
  /* center a fixed positioned div:
  https://stackoverflow.com/a/17070034 */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-left: 32px;

  /* justify-content: space-between;
  flex-direction: row;
  align-items: center; */
  z-index: 5;
  background-color: white;
}

.logo,
.header span {
  font-weight: bold;
  color: MediumAquamarine;
}
.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.nav {
  display: flex;
  align-items: center;
  margin-right: 32px;
  padding-right: 32px;
}

.nav span {
  padding-right: 10px;
}
.nav span a {
  color: black;
}

.main {
  display: flex;
  margin-top: 116px;
  justify-content: center;
}
.column {
  /* Each column has a margin-right value of 32px.
  Together with each column width for large, medium and small we get a total width of 1266px;
  630 + 300 + 240 + 32 + 32 + 32 = 1266 */
  margin-right: 32px;
  flex-direction: column;
}
.column.large {
  width: 630px;
  display: flex;
  background-color: #;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.column.medium {
  width: 300px;
  display: flex;
  background-color: #;
}
.column.small {
  width: 240px;
  display: flex;
  background-color: #;
}
.image-content {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  height: 300px;
  padding-left: 15px;
  padding-right: 15px;
}
.news-bite .image-content {
  height: 260px;
}

.lead-story .image-content {
  background-image: url("./images/img-story-main.png");
  width: 610px;
}
.lead-story {
  width: 630px;
}
.story-earth .image-content {
  background-image: url("./images/img-story-2.png");
}
.story-camera .image-content {
  background-image: url("./images/img-story-3.png");
}
.story-cats .image-content {
  background-image: url("./images/img-story-1.png");
}
.news-bite .image-content {
  background-image: url("./images/img-news-bite.png");
}

.story-orca,
.story-burger,
.story-earth,
.story-camera {
  width: 300px;
}

h2, h3 {
  font-family: Georgia;
  font-size: 1.5rem;
  color: black;
}
.image-content h2 {
  font-size: 30px;
  color: white;
  font-family: Georgia;
  font-weight: bold;
}
.lead-story h2 {
  font-size: 40px;
}
.news-bite h3 {
  font-size: 16px;
  font-weight: bold;
}
.news-bite span {
  display: block;
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  padding: 12px 6px;
  border-bottom: 2px solid black;
}
.footer {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   width: 100%;
   height: 325px;
   background-color: MediumAquamarine;
   font-family: Verdana;
   font-size: 12px;
   margin-top: 120px;
}
.footer .nav-line {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-left: 85px;
  width: 400px;
}
.footer .title {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  display: inline-block;
  padding-right: 25px;
  border-right: 2px solid white;
  margin-right: 25px;
}
.footer .nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
.footer .nav span {
  margin-right: 12px;
}
.copyright {
  margin-top: 2rem;
}


/* .footer nav {
  display: inline-block;
  padding-left: 25px;
} */

/* will be deleted later
div {
  border: 1px solid black;
} */
