body {
  font-family: Verdana, Arial, sans-serif;
  font-size: 14px;
  color: black;
  max-width: 1266px;
  /* center the body by giving it margin-left and margin-right auto.
  It is better to type out margin-left and margin-right instead of using the shorthad value to not give margin-top and margin-bottom any values.
  Generally if a value does not have to be set it is best to not set it at all. */
  margin-left: auto;
  margin-right: auto;
}

.header {
  width: 100%;
  border-bottom: 1px solid black;
  display: flex;
  /* center a fixed positioned div:
  https://stackoverflow.com/a/17070034 */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  /* Since the header is fixed it is taken out of the document flow so the max-width has to be assigned again for this element. */
  max-width: 1266px;
  margin-left: auto;
  margin-right: auto;

  /* justify-content: space-between;
  flex-direction: row;
  align-items: center; */
  z-index: 5;
  background-color: white;
}

.logo,
.header span {
  font-weight: bold;
  color: MediumAquamarine;
}
.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.nav {
  display: flex;
  align-items: center;
  margin-right: 32px;
}

.nav span {
  padding-right: 10px;
}
.nav span a {
  color: black;
}

.main {
  position: relative;
  top: 91px;
  display: flex;
}
.column {
  /* Each column has a margin-right value of 32px.
  Together with each column width for large, medium and small we get a total width of 1266px;
  630 + 300 + 240 + 32 + 32 + 32 = 1266 */
  margin-right: 32px;
  flex-direction: column;
}
.column.large {
  width: 630px;
  display: flex;
  background-color: #;
}
.column.medium {
  width: 300px;
  display: flex;
  background-color: #;
}
.column.small {
  width: 240px;
  display: flex;
  background-color: #;
}
.image-content {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  height: 300px;
}

.lead-story {
  background-image: url("./images/img-story-main.png");
}
.story-earth {
  background-image: url("./images/img-story-2.png");
}
.story-camera {
  background-image: url("./images/img-story-3.png");
}
.story-cats {
  background-image: url("./images/img-story-1.png");
}
h2 {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
.image-content h2 {
  font-size: 30px;
  color: white;
  font-family: Georgia;
  font-weight: bold;
}
.lead-story h2 {
  font-size: 40px;
}

 .footer {
  position: relative;
  top: 91px;
  background-color: MediumAquamarine;
}

/* will be deleted later */
div {
  border: 1px solid black;
}
